body {
  background: blanchedalmond;
  text-align: center;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: orange;
  flex-grow: 1;
  min-height: 10vh;
  margin: 0em 0em;
}

footer {
  background-color: orange;
  flex-grow: 1;
  min-height: 10vh;
  margin: 0em 0em;
}

main {
  background-color: lightsalmon;
  flex-grow: 2;
  min-height: 50vh;
  margin: 1em 0em;
 }

@media (min-width : 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main {
    max-width: 100%;
  }
  header {
    width: 100%;
  }
  footer {
    margin: 1em 0em 1em 1em;
    max-width: 20%;
  }
}